
.dropdown {
  position: fixed;
  top: -1000%;
  width: 100%;
  background: #F5F5F5;
  transition: all 0.3s ease-in-out;
  flex-direction: column;
  z-index: 100;
  left: 0;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.71);
  padding: 1rem 0;

  .closeDropdown {
    position: absolute;
    bottom: 1rem;
    transform: rotate(90deg);
    font-size: 40px;
    color: #E07153;
    cursor: pointer;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;

    h4 {
      font-size: 25px;
      color: #E07153;
    }
  }

  .navigation {
    a {
      font-size: 18px;
      color: #1b1b1b;
      transition: 0.3s;

      &.active{
        color: #E07153;
      }

      &:hover {
        color: #E07153;
      }
    }
  }

  .categories {
    display: flex;
    align-items: center;

    a{
      font-size: 25px;
      color: #1b1b1b;
      display: flex;
      align-items: center;
      gap: 12px;

      &.active{
        svg, span{
          color: #E07153;
        }
      }

      &:hover span{
        color: #E07153;
      }

      &:hover svg{
        color: #E07153;
      }

      svg{
        transition: .2s;
      }

      span{
        transition: .2s;
        font-size: 18px;
        color: #1b1b1b;
      }
    }
  }

  &.active {
    min-height: 80vh;
    top: 0;
    background: #F5F5F5;
    display: flex;
  }

  .logo{
    width: 100px;
    padding-bottom: 1.4rem;
    img{
      width: 100%;
    }
  }
}