.container{
  position: relative;
  padding: 1rem 0;
  &::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #ccc;
    position: absolute;
    left: 0;
    border-radius: 5px;
    bottom: 1rem;
  }
  width: 90%;
  margin: 20px auto 0;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  .slider{
    width: 100%;
    .dots{
      margin-top: 1rem;
    }
    @media (min-width: 768px){
      width: 50%;
      .dots{
        display: none;
      }
    }
    .slider_dots{
      margin-top: 0;
    }
    .slider_img{
      width: 100%;
      height: 350px;
      position: relative;
      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
      .images{
        opacity: 0;
      }
      .imagesActive{
        opacity: 1;
        transition: .3s;
      }
      button{
        top: 40%;
      }
      .prev{
        position: absolute;
        left: .5rem;
      }
      .next{
        position: absolute;
        right: .5rem;
      }
    }
  }
  .content{


    margin-top: 50px;
    @media (min-width: 768px){
      width: 40%;
    }
    .likedBtn{
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
    }
    h1{
      margin-top: 20px;
      font-weight: 600;
      text-transform: capitalize;
    }
    .counter{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
      @media (min-width: 768px){
        justify-content: space-between;
      }
      .count{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        border: 1px solid #000;
        width: 120px;
        height: 50px;
        border-radius: 20px;
        overflow: hidden;
        padding: 0 10px;
        button{
          font-size: 24px;
          background: none;
        }
      }
    }
    .description{
      margin: 50px 0;
      p{
        line-height: 30px;
        font-size: 15px;
      }
    }
    .btn{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      span{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
      }
    }
  }
}

.addReview{
  width: 90%;
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: column;

  .stars{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    span{
      font-size: 14px;
    }
    .starIcon{
      font-size: 30px;
    }
  }

  .reviewContent{
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    gap: 1rem;

    textarea{
      resize: vertical;
      border-radius: 5px;
      border: 1px solid #ccc;
      min-height: 100px;
      outline: none   ;
      max-height: 200px;
      padding: 1rem;
      &::placeholder{
        font-size: 12px;
      }
    }

    button{
      background: #E07153;
      color: white;
      font-size: 14px;
      padding: 10px 0;
      font-weight: 500;
      border-radius: 6px;
    }
  }
}

.reviewers{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.loading{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

//#ffba5a
//#a9a9a9