.root{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;

  .key{
    font-size: 15px;
    font-weight: 600;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }

  .value{

    @media (min-width: 768px) {
      font-size: 17px;
    }
  }

}