.btn{
  width: 95%;
  display: flex;
  justify-content: end;
  button{
    width: 100px;
    background-color: transparent;
    border-bottom: 1px solid #555;
    color: black;
    font-size: 13px;
    text-transform: capitalize;
  }
}
.order{
  width: 95%;
  display: flex;
  justify-content: end;
}