.btn{
  width: 95%;
  display: flex;
  justify-content: end;
  button{
    width: 100px;
    background-color: transparent;
    text-decoration: underline;
    color: black;
    font-size: 13px;
    &:hover{
      color: #555555;
    }
  }
}
.order{
  width: 95%;
  display: flex;
  justify-content: end;
  button{
    background: #e07153;
    color: white;
    font-size: 16px;
    padding: 0.7rem 1rem;
    border-radius: 3px;
  }
}