@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

.footer {
  margin-top: 20px;
  width: 100%;
  height: 50vh;
  position: relative;
  background: saddlebrown;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 16px;
    top: -15px;
    left: 0;
    background: url('../image/browntooth.png') repeat-x;
  }

  .footer_logo_container {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .footer_logo_background {
      width: 100%;
      height: 100%;
    }
    .footer_logo_logo {
      position: absolute;
      width: 50%;
      height: 50%;
      color: white;
    }
  }

  .text {
    p {
      color: white;
      font-family: 'Nunito', sans-serif;
      font-weight: 900;
    }
  }

  .footer_footer {
    width: 50%;
    margin: 0 auto;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .instagram , .whatsapp , .phone{
      .icons {
        width: 30px;
        height: 30px;
        text-decoration: none;
        color: white;
        margin: 0 5px;
      }
    }
  }
}