.block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 0;
  word-wrap: break-word;
  position: relative;

  .profileImg{
    img{
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }

  &::after{
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(204, 204, 204, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .header{


    h3{
      margin-bottom: 10px;
    }
    span{
      color: rgb(95, 95, 95);
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}