.container{
  width: 90%;
  margin: 50px auto 0;
  .card{
    width: 290px;
    min-height: 300px;
    margin: 30px 0;
    .card_img{
      width: 290px;
      height: 150px;
      object-fit: cover;
      position: relative;
      img{
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
    .card_body{
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 10px;
      .btns{
        display: flex;
        justify-content: space-between;
        .counter{
          margin-bottom: 10px;
          display: flex;
          gap: 10px;
          align-items: center;
          button{
            width: 40px;
            height: 40px;
            border-radius: 10px;
          }
        }
        .cart_btn{
          width: 110px;
          height: 40px;
          font-size: 20px;
          border-radius: 10px;
        }
      }
    }
  }
}