.container{
  width: 90%;
  margin: 60px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card{
    width: 300px;
    min-height: 300px;
    background-color: #E07153;
    border-radius: 10px;
    .card_img{
      width: 100%;
      height: 150px;
      object-fit: cover;
      position: relative;
      img{
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 5px;
        border-radius: 10px;
      }
    }
    .card_body{
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 10px 10px;
      .btns{
        display: flex;
        justify-content: space-between;
        .counter{
          margin-bottom: 10px;
          display: flex;
          gap: 10px;
          align-items: center;
          button{
            width: 40px;
            height: 40px;
            border-radius: 10px;
            cursor: pointer;
          }
        }
        .cart_btn{
          width: 110px;
          height: 40px;
          font-size: 20px;
          border-radius: 10px;
          background-color: #008f00;
          color: #fff;
          transition: .3s;
          &:hover{
            background-color: #21b921;
          }
        }
      }
    }
  }
}