.buttons{
  border: none;
  outline: none;
  font-size: 30px;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  width: 40px;
  height: 40px;
  background-color: rgba(220, 213, 213, 0.5);
  
  @media (min-width: 768px) {
    width: 50px;
    height: 50px;
  }
}
.prev{
  position: absolute;
  left: 1rem;
}
.next{
  position: absolute;
  right: 1rem;
}