label{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  span{
    width: 85%;
    text-align: left;
    font-size: 14px;
    color: #a13333;
  }

  input{
    width: 90%;
    padding: 1rem 10px;
    border-radius: 6px;
    border: 1px solid #E2E1E1;
    color: #5b5b5b;
    outline: none;
  }
}