.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;

  .navbarTop {
    width: 100%;
    padding: 13px 0;

    .wrapperTop {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        img{

          width: 90px;
        }
      }

      .navigations {
        display: flex;
        gap: 3rem;

        a {
          font-size: 16px;
          color: #1b1b1b;
          transition: .2s;

          &:hover {
            color: #E07153;
          }
        }
      }

      .personsContainer {
        display: flex;
        align-items: center;
        gap: 1rem;

        .cart {
          background: #F5F5F5;
          padding: 12px 1rem;
          display: flex;
          gap: 1rem;
          border-radius: 6px;
          align-items: center;

          svg {
            font-size: 20px;
            color: #1b1b1b;
            transition: .2s;

            &:hover {
              color: #E07153;
            }
          }

          span {
            display: flex;
            align-items: center;
            gap: 5px;

            span {
              font-size: 15px;
              font-weight: 500;
            }

            svg {
              font-size: 14px;
              color: #1b1b1b;
              pointer-events: none;
            }
          }

        }

        .profile {
          background: #F5F5F5;
          padding: 10px;
          border-radius: 6px;

          svg {
            font-size: 22px;
            transition: .2s;

            &:hover {
              color: #E07153;
            }
          }
        }
      }
    }

  }

}


//.wrapperUnder{
//  width: 100%;
//  margin: 0 auto;
//  display: flex;
//  align-items: center;
//  justify-content: space-around;
//
//  a{
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    gap: 5px;
//
//    &.active svg{
//      color: #E07153;
//    }
//
//    &.active span{
//      color: #E07153;
//    }
//
//    svg{
//      font-size: 30px;
//      color: #1b1b1b;
//    }
//
//    span{
//      color: #1b1b1b;
//      font-size: 14px;
//      font-weight: 500;
//    }
//  }
//}

