	.navbarUnder {
		display: none;	
		width: 100%;
		background: #F5F5F5;
		padding: 10px 0;
		@media (min-width: 768px) {
			display: block;
		}

		.wrapperUnder {
			width: 90%;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.searcher {
				width: 60%;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;

				input {
					width: 100%;
					border-radius: 6px;
					border: 1px solid #ccc;
					outline: none;
					font-size: 15px;
					padding: 10px;
					color: #525151;
				}

				button {
					padding: 10px 12px;
					background: #E07153;
					border-radius: 6px;

					svg {
						color: white;
						font-size: 18px;
					}
				}
			}

			.select {
				z-index: 100;
				width: 35%;
				flex-direction: row;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 10px;

				p {
					font-size: 14px;
				}
			}
		}
	}