.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0;
  @media (min-width: 768px) {
    padding: 0 5%;
  }
  .cards {
    width: 310px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    background: #E07153;
    margin-bottom: 35px;
    .cards_header {
      width: 100%;
      height: 60%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .cards_body {
      width: 100%;
      height: 40%;
      padding: 0 15px;
      box-sizing: border-box !important;
      div {
        margin-bottom: 5px;
      }
      .cards_body_header {
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 10px 0;
        height: 20%;
      }
      .text {
        color: white;
        height: 40%;
        width: 100%;
      }
      .cards_body_footer {
        width: 100%;
        height: 20%;
        button {
          padding: 10px 20px;
          width: 100%;
          border-radius: 5px;
          background: lightblue;
          .link {
            color: white;
            font-size: 18px;
          }
        }
      }
    }
  }
}