.logo {
  text-align: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0;
  @media (min-width: 768px) {
    padding: 0 5%;
  }
  .cards {
    width: 310px;
    height: 400px;
    overflow: hidden;
    background: lightblue;
    margin-bottom: 35px;
    border-radius: 10px;
    padding: 10px;
    .cards_header {
      width: 100%;
      height: 60%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
      .date {
        font-size: 13px;
        font-weight: 700;
        position: absolute;
        bottom: 0.5em;
        right: 0.5em;
        z-index: 10;
        color: #E07153;
      }
    }
    .cards_body {
      width: 100%;
      height: 40%;
      padding: 0 15px;
      box-sizing: border-box !important;
      div {
        margin-bottom: 5px;
      }
      .cards_body_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 20px 0;
        height: 20%;
        .title {
          font-size: 25px;
          text-transform: capitalize;
        }
      }
      .text {
        color: white;
        height: 40%;
        width: 100%;
        p {
          font-size: 16px;
          width: 100%;
          word-wrap: break-word;
        }
      }
      .cards_body_footer {
        width: 100%;
        height: 20%;
        button {
          padding: 10px 20px;
          width: 100%;
          border-radius: 5px;
          background: #ff9f84;
          .link {
            color: white;
            font-size: 18px;
          }
        }
      }
    }
  }
}