.navbarSelect{
  width: 100%;

  .customSelect{
    &__control{
      cursor: pointer;

      &--is-focused {
        border-color: #E07153;
        box-shadow: none;

        &:hover{
          border-color: #E07153;
        }
      }
    }

    &__single-value{
      font-size: 15px;
    }

    &__menu-list{
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      }

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #E07153;
      }
    }

    &__option{
      cursor: pointer;

      &--is-selected{
        background: #E07153;
      }
    }
  }
}