.navContainer{
  width: 100%;
  padding: 1rem;

  .navWrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      font-size: 30px;
      font-weight: 700;
      color: #E07153;
    }

    .burgerIcon{
      font-size: 40px;
      cursor: pointer;
      transition: .2s;

      &:hover{
        color: #E07153;
      }
    }

    .personsContainer{
      display: flex;
      align-items: center;
      gap: 1rem;

      .cart{
        border-radius: 6px;
        background: #F5F5F5;
        padding: 10px 1rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;

        &::before{
          content: '';
          height: 50%;
          position: absolute;
          width: 1px;
          border-radius: 6px;
          top: 50%;
          transform: translateY(-50%);
          left: 60%;
          background: black;
          z-index: 100;
        }


        .sum{
          display: flex;
          align-items: center;
          gap: 5px;

          span{
            font-size: 20px;
            font-weight: 500;
          }

          svg{
            font-size: 20px;
          }
        }

        .cartIcon{
          font-size: 22px ;
          cursor: pointer;
          transition: .2s;

          &:hover{
            color: #E07153;
          }
        }
      }

      .profile{
        background: #F5F5F5;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;

        svg {
          font-size: 25px;
          cursor: pointer;
          transition: .2s;

          &:hover{
            color: #E07153;
          }
        }
      }
    }
  }
}