.navContainer{
  width: 100%;
  padding: 1rem;

  .navWrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 426px) {
      width: 100%;
    }

    .logo{
      font-size: 30px;
      font-weight: 700;
      color: #E07153;

      @media (max-width: 426px) {
        font-size: 25px;
      }

      @media (max-width: 375px) {
        display: none;
      }
    }

    .burgerIcon{
      font-size: 33px;
      cursor: pointer;
      transition: .2s;

      @media (max-width: 426px) {
        font-size: 30px;
      }

      @media (max-width: 375px) {
        font-size: 25px;
      }

      &:hover{
        color: #E07153;
      }
    }

    .personsContainer{
      display: flex;
      align-items: center;
      gap: 1rem;

      .cart{
        border-radius: 6px;
        background: #F5F5F5;
        padding: 9px;
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;

        .sum{
          display: flex;
          align-items: center;
          gap: 5px;

          span{
            font-size: 16px;
            font-weight: 500;
            @media (max-width: 426px) {
              font-size: 14px;
            }
          }

          svg{
            font-size: 16px;
            @media (max-width: 426px) {
              font-size: 12px;
            }
          }
        }

        .cartIcon{
          font-size: 20px ;
          cursor: pointer;
          transition: .2s;

          @media (max-width: 426px) {
            font-size: 16px;
          }

          &:hover{
            color: #E07153;
          }
        }
      }

      .profile{
        background: #F5F5F5;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;

        svg {
          font-size: 22px;
          cursor: pointer;
          transition: .2s;

          @media (max-width: 426px) {
            font-size: 18px;
          }

          &:hover{
            color: #E07153;
          }
        }
      }
    }
  }
}