.slider{
  height: 45vh;
  width: 100%;
  position: relative;
  margin-top: 20px;
  .images{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 40vh;
    @media (min-width: 768px) {
      height: 50vh;
    }
    @media (min-width: 1200px){
      height: 70vh;
    }
  }
  .images.imagesActive{
    object-fit: cover;
    transition: .5s;
    opacity: 1;
    //@media (min-width: 768px) {
    //  height: 50vh;
    //}
    //@media (min-width: 1200px){
    //  height: 70vh;
    //}
  }
  button{
    border: none;
    outline: none;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    width: 56px;
    height: 56px;
    top: 35%;
    &:hover{
      background-color: #ff9300;
      color: white;
    }
    &:disabled{
      background-color: black;
      color: white;
    }
    @media (min-width: 768px){
      top: 60%;
    }
  }
  .prev{
    position: absolute;
    left: 1rem;
  }
  .next{
    position: absolute;
    right: 1rem;

  }

}

.dots{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px){
    margin-top: 100px;
  }
  @media (min-width: 1200px){
    margin-top: 200px;
  }
  .dot_item{
    background-color: black;
    height: 3px;
    width: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
}